*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


nav{
    display: flex;
    background-color: #23272c;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: #1393d5 5px solid;
}

nav h1{
    margin-left: 10%;
    color: #ffffff;
}

nav span{
    color: #1393d5;
}

.itemsNav{
    display: flex;
    margin-right: 10%;
    gap: 10px;
}

li{
    list-style: none;
    margin-right: 15px;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s;
}

a:hover{
    color: #1393d5;
    transition: all 0.3s;
}

#option{
    color: #1393d5;
}
/*No cambiar los estilos anteriores a este comentario =) */
/*suscripcion a boletin*/
.espaciosub{
    display: flex;
    background-color: #23272c;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100px;
}

.sub{
    align-items: center;
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
}

.subdere{
    display: flex;
    position: absolute;
    right: 10%;
    top: 130px;
    height: 50px;
    align-items: center;
}

.textosub{
    height: 25px;
}
.textocon{
    height: 25px;
    width: 100%;
}

.boton{
    margin-left: 3PX;
    background-color: #e64b1d;
    top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    border: none;
    color: #fff;
}
.boton:hover{
    background-color: #ac3815;
    cursor: pointer;
}

/*fin*/

/*contenido de la pagina*/

.contacto{
    margin: 0 auto;
    width: 80%;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.cuadros{
    margin-left: 10px;
    width: 20%;
}

.queH{
    background: #34424b;
    padding: 20px 15px;
    color: #fff;
    height: 150px;
    width: 100%;
}

img{
    width: 105%;
    height: 240px; 
    margin-top: 10px;
}
.registro_info{
    width: 80%;
}

.areaT{
    width: 100%;
    height: 175px;
}
.enviar{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background-color: #e64b1d;
    border: none;
    color: #fff;
}
.enviar:hover{
    background-color: #ac3815;
    cursor: pointer;
}

input{
    margin-bottom: 10px;
}

/*footer*/
footer{
    background-color: #1393d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    height: 60px; /* igual al padding-bottom del body */
    box-sizing: border-box;
}

@media screen and (max-width: 550px){
    a{
        font-size: 9px;
    }
}

@media screen and (max-width: 350px){
    a{
        font-size: 8px;
    }
}

@media (max-width: 1200px) {
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    nav h1{
        margin-bottom: 15px;
        margin-left: 0%;
    }

    .itemsNav{
        display: flex;
        margin-right: 0;
        gap: 10px;
    }
    .espaciosub{
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }
    .sub{
        display: flex;
        flex-direction: column;
    }

    .subdere{
        display: flex;
        position: static;
        height: 100px;
        align-items: center;
        flex-direction: column;
    }


    .cuadros{
        width: 100%;
        margin-left: 0;
    }

    .contacto{
        margin: 0 auto;
        width: 80%;
        height: 500px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }


    .queH{
        background: #34424b;
        padding: 20px 15px;
        color: #fff;
        height: 150px;
        width: 100%;
    }

    img{
        width: 100%;
        height: 250px; 
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .registro_info{
        width: 100%;
    }

    .areaT{
        width: 100%;
        height: 175px;
    }
    .enviar{
        margin-top: 10px;
        width: 100%;
        height: 35px;
        background-color: #e64b1d;
        border: none;
        color: #fff;
    }
    .enviar:hover{
        background-color: #ac3815;
        cursor: pointer;
    }

    input{
        margin-bottom: 10px;
    }

}