*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    background-color: #23272c;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: #1393d5 5px solid;
}

nav h1{
    margin-left: 10%;
    color: #f8fcf9;
}

nav span{
    color: #1393d5;
}

.itemsNav{
    display: flex;
    margin-right: 10%;
    gap: 10px;
}

li{
    list-style: none;
    margin-right: 15px;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s;
}

a:hover{
    color: #1393d5;
    transition: all 0.3s;
}

#option{
    color: #1393d5;
}
/*No cambiar los estilos anteriores a este comentario =) */

section{
    width: 100%;
    height: 80px;
    background-color: #23272c;
    color: #d9dde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section h2{
    margin-left: 12%;
    font-size: large;
}

.formContainer{
    margin-right: 10.5%;
}

.formContainer input{
    width: 200px;
    height: 28px;
}

.formContainer button{
    width: 100px;
    height: 35px;
    color: #fff;
    background-color: #ea4e23;
    border: none;
    transition: all 0.3s;
}

button:hover{
    transform: scale(1.03);
    transition: all 0.3s;
}

article{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.nosotros{
    display: flex;
    flex-direction: column;
    width: 765px;
    margin-top: 20px;
    gap: 20px;
}

.nosotros img{
    margin-bottom: 20px;
    width: 100%;
}


#text{
    color: #fff;
    background-color: #35414b;
    padding: 15px;
}

.queHacemos{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 230px;
    height: 170px;
    margin-top: 20px;
    background-color: #35414b;
    color: #fff;
    gap: 10px;
}

.queHacemos h2{
    font-size: larger;
}

.queHacemos p{
    font-size: 14px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1393d5;
}

