*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


nav{
    display: flex;
    background-color: #23272c;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: #1393d5 5px solid;
}

nav h1{
    margin-left: 10%;
    color: #ffffff;
}

nav span{
    color: #1393d5;
}

.itemsNav{
    display: flex;
    margin-right: 10%;
    gap: 10px;
}

li{
    list-style: none;
    margin-right: 15px;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s;
}

a:hover{
    color: #1393d5;
    transition: all 0.3s;
}

#option{
    color: #1393d5;
}
/*No cambiar los estilos anteriores a este comentario =) */

.barra {
    background-color: #23272c;
    display: flex;
    color: #fff;
    margin: 0;
    height: 95px;
}

.sub{
    background-color: #d84921;
    width: 100px;
    text-align: center;
   color: #fff;
   
   
}
main{
    display: flex;
    max-width: 100%;
}
.caja1{
    width: 400px;
    margin-right: 13rem;
    margin-left: 12rem;
    background-color: #d9dde0;
    border-color: #b3b6b8;
    border-style: solid;
    color: #23272c;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding: 2rem;
    margin-top: 2rem;
  
}

.caja2 {
    width: 400px;
    margin-right: 13rem;
    margin-left: 12rem;
    background-color: #d9dde0;
    border-color: #b3b6b8;
    border-style: solid;
    color: #23272c;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding: 2rem;
    margin-top: 5px;
}

.caja3 {
     width: 400px;
    margin-right: 13rem;
    margin-left: 12rem;
    background-color: #d9dde0;
    border-color: #b3b6b8;
    border-style: solid;
    color: #23272c;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding: 2rem;
    margin-top: 5px;
}

h2 {
    padding-left: 12rem;
    margin-top: 2rem;
    margin-right: 330px;
}

h3 {
    padding-left: 12rem;
    margin-top: 2rem;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 230px;
    height: 170px;
    margin-top: 20px;
    background-color: #35414b;
    color: #fff;
    gap: 10px;

}


footer{
    background-color: #1393d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    height: 60px; /* igual al padding-bottom del body */
    box-sizing: border-box;

}


.container{
    display : flex;
    flex-direction: column;
    
}

.formContainer{
    display: flex;
    gap: 10px;
    margin: 30px;
    margin-right: 100px;
  
} 

/* Responsive design */
@media screen and (min-width: 375px) and (max-width: 550px) { 
    a{
        font-size: 8px;
    }

    p{
        font-size: 12px;
    }

    /* Menú - iniciar sesion... inicio etc*/
    .itemsNav{
        display: flex;
        margin-right: 6%;
        gap: 5px;
    }

    nav{
        gap: 4px;
    }
}